## Table of Contents

<table style="text-align: center;">
  <colgroup>
    <col width="30%"/>
    <col width="70%"/>
  </colgroup>
  <thead>
    <tr class="header">
      <th>Page</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% assign url_ending = page.url | split: '/' | last %}
    {% for other in site.pages %}
      {% assign reversed_url = other.url | split: '/' | reverse %}
      {% if reversed_url[1] == url_ending %}
        <tr>
          <td class="table-of-contents-page-title">
            <a href="{{ site.baseurl }}{{ other.url }}">
              <strong>{{ other.title }}</strong>
            </a>
          </td>
          <td>{{ other.description }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
